*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'IBM Plex Mono', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /* Chrome injects a weird CSS that sets popup body to 75%. */
  font-size: 14px;
}

h1, h2, h3, ._sans {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .03em;
}

button, input {
  font: inherit;
  border: 0;
}

button {
  background: transparent;
  transition: opacity .2s ease;
}

button:not([disabled]) {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
  opacity: .6;
}
